<!DOCTYPE html>
<html>
<head>
    <title>homepage</title>
</head>
<body>
    <h1>this is homepage</h1>
    <a href="http://127.0.0.1:5000/register"class="button">register</a>
    <br>
    <a href="http://127.0.0.1:5000/login"class="button">login</a>
    <br>
    <a href="http://127.0.0.1:5000/blog"class="button">blogpage</a>
    <br>
    <a href="http://127.0.0.1:5000/post1"class="button">post1page</a>
    <br>
    <a href="http://127.0.0.1:5000/post2"class="button">post2page</a>
    <br>
    <a href="http://127.0.0.1:5000/post3"class="button">post3page</a>
    
</body>
</html>